.tweetBox {
    border-bottom: 8px solid var(#e6ecf0);
    padding-bottom: 10px;
    padding-right: 10px;
    margin-left: 1%;
    
}

.main1 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    min-width: fit-content;
    font-weight: bolder;

}

.tweetBox form {
    display: flex;
    flex-direction: column;
}

.tweetBox-input {
    padding: 20px;
    display: flex;

}

img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: transparent;
    margin-left: -2rem;
}

.tweetBox-imageInput {
    border: none;
    padding: 10px;
}

.tweetButon {
    background-color: #42a1e6;
    border-radius: 10px;
    color: white;
    border-color: white;
    width: 34%;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 65%;
    border-radius: 45px;
}

.tweetBox-input input {
    flex: 1;
    margin-left: 30px;
    font-size: 20px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
@media screen and (min-width: 768px) {
    .tweetBox {
        display: flex;
        flex-direction: column;
       
    }

    .main1 {
        font-size: 30px;
    }

    .tweetBox-input {
        width: 100%;
    }

    img {
        width: 5rem;
        height: 5rem;
    }

    .tweetBox-imageInput {
        padding: 15px;
    }

    /* .tweetButon {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    } */

    .tweetBox-input input {
        /* margin-left: 15px; */
        font-size: 24px;
    }
}

/* Styles for .tweetBox on smaller screens */
@media screen and (max-width: 767px) {
   
    .tweetBox-input {
        width: 100%;
    }

    img {
        width: 4rem;
        height: 4rem;
    }

    .tweetBox-imageInput {
        padding: 12px;
    }

    .tweetButon {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .tweetBox-input input {
        margin-left: 10px;
        font-size: 20px;
    }
}

